/* MUPCard.module.css */
.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selectedTextOnMUPCard {
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

.textField {
  width: 100%;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  outline: none;
}

.textField:focus {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submitButton {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.responseText {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #333;
}
