.comment {
    margin-left: 0;
  }
  
  .reply {
    margin-left: 20px; /* Einrückung für Unterkommentare */
  }
  
  .sub-reply {
    margin-left: 40px; /* Einrückung für Unterunterkommentare */
  }
  
  .hide-comments {
    display: none;
  }
  
  .show-comments {
    display: block;
  }
  